:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* no journal entries */

.no_logs{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.no_logs--heading {
  font-size: 2.5rem;
}

.no_logs--btn {
  font-size: 1.5rem;
}

/* header styles */

.header {
  display: flex;
  justify-content: space-between;
  background-color: #F55A5A;
  padding: 1.8em 5%;
}

.header--title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 1.625rem;
}

.header--title_icon {
  font-size: 2rem;
  margin-right: .5em;
}

.header--btn {
  font-size: 1rem;
}

.btn {
  font-weight: 600;
  cursor: pointer;
  background-color: rgb(33, 53, 71);
  border: none;
  border-radius: 8px;
  padding: 0.5em 1.3em;
  box-shadow: 1.3px 1.3px 2px 1px rgba(12, 32, 50, 0.5);
}

/* card styles */

.main-container {
  max-width: 1580px;
  margin: 0 auto 4em;
  padding: 0 2.5em;
  margin-top: 4em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  gap: 3em;
}

.card {
  display: flex;
  gap: 2.2em;
  letter-spacing: .15px;
}

.card--image {
  width: 180px;
  aspect-ratio: .75/1;
  object-fit: cover;
  border-radius: .5em;
}

.card--content {
  place-self: center;
}

.card--location_info{
  text-transform: uppercase;
  font-size: 0.825rem;
  letter-spacing: 2px;
}

.card--location_pin {
  margin-right: .5em;
  font-size: 1.22rem;
}

.card--maps_link > a {
  display: inline-block;
  text-transform: initial;
  color: #918E9B;
  margin-left: 1.4em;
  letter-spacing: 1px;
  transition: all .1s ease-in-out;
}

.card--maps_link > a:hover {
  color: #bebaca;
  transform: scaleX(1.1);
  margin-left: 1.8em;
}


.card--title {
  margin: -.5em 0 .2em;
  /* font-size: 1.5rem; */
}

.card--dates {
  font-size: 0.625rem;
  font-weight: 700;
}

.card--desc {
  font-size: 0.875rem;
  max-width: 500px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
